body{
    text-align: center;
    background-image: url("./backdrop.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo{
    background-image: url("./studybuddy_logo.png");
    height: 280px;
    width: 380px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

.loading-animation{
    opacity: 0.3;
    height: 400px;
}